
    <div class="row">
        <nav class="navbar  navbar-default">
            <div class="navbar-header col-lg-6  col-md-8 col-sm-6 col-xs-8 ">
                <a href="#" class="navbar-brand ">
                    <img src="~/Content/Images/Logos/LogoBF.png" style="margin-left: 50px; height: 40px; width: 70px; margin-top: -10px;" />
                </a>
                <div style="width: 400px; margin-left: 200px; margin-top: 8px;" class="input-group hidden-sm hidden-xs">
                    <input type="text" class="form-control" placeholder="search service here" />
                    <span class="input-group-addon"> <span class="glyphicon glyphicon-search"></span></span>
                </div>
            </div>
            <ul class="nav  navbar-nav col-lg-6 col-md-4  col-sm-6 col-xs-4 ">
                <li><a href="#">LogIn</a></li>

                <li>
                    <a href="#">Join</a>
                </li>
            </ul>
        </nav>

    </div>

