
<div class="panel panel-default" style="width:280px">
    <div class="label-default" style="background-color: steelblue;">
        <span style="color: white; margin-left:90px;">Search Food</span>
    </div>
    <div class="panel-body">




        <div class="form-group">         
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-fire"></span></span>
                        <input  class="form-control" type="text" placeholder="your fav food ?" />
                    </div>
        
            </div>
                <div class="form-group">
                    <label for="Spnr" style="color: lightgray; font-size: 14px;">Price</label>
                    <div class="input-group">
                        <span class="input-group-addon">Rs</span>
                        <input class="form-control" type="text" id="Spnr" />
                        <span class="input-group-addon">.00/-</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="text-muted" style="color: lightgray; font-size: 14px;">Location</label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                        <select class="form-control" id="Slct">
                            <option value="1">Lahore</option>
                            <option value="2">Karachi</option>
                            <option value="3">Islamabad</option>
                        </select>
                    </div>
                </div>
                <br/>
                <div class="form-group">
                
                            <input name="personfor" id="Ols" type="checkbox" />
                            <label for="Ols" class="text-muted">Online Sellers </label>
                        </div>



                <div class="form-group">
                    <label class="text-muted" style="color: lightgray; font-size: 14px;">Meal For</label>
                    <div class="list-group">
                        <div class="list-group-item">
                            <input name="personfor" id="single" type="radio" />
                            <label for="single" class="text-muted">Single</label>
                        </div>

                        <div class="list-group-item">
                            <input name="personfor" id="double" type="radio" />
                            <label for="double" class="text-muted">Double</label>
                        </div>

                        <div class="list-group-item">
                            <input name="personfor" id="party" type="radio" />
                            <label for="party" class="text-muted">Party</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">

            </div>
        </div>
