
@{
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <title>Kitchen Cloud</title>
    <meta charset="utf-8" />
    <link href="~/Content/Styles/Index - Copy.css" rel="stylesheet" />
    <link href="~/Content/Styles/jquery-ui.min.css" rel="stylesheet" />
</head>
<body>
    <div class="MainWrapper">
        <header></header>
        <nav>
            <div class="Logo">
                <img src="~/Content/Images/Logo.png" height="90" width="140" />
            </div>
            <div class="Catogaries">

                <div  class="CatogariesLnk">
                    <a class="bb" href="#">Home</a>
                </div>
                <div id="Catogary1" class="CatogariesLnk">
                    <a href="#">Pakistani</a>
                </div>
                <div id="Catogary2" class="CatogariesLnk" >
                    <a href="#" >Chinese</a>
                </div>
                <div id="Catogary3" class="CatogariesLnk" >
                    <a href="#" >Continental</a>
                </div>
                <div class="ClrStl"></div>

            </div>
            <div class="SubCatogaries">
                <ul id="SubCatogary1">
                    <li>
                        <a href="#">Fast Food</a>
                    </li>
                    <li>
                        <a href="#">Desi</a>
                    </li>
                    <li>
                        <a href="#">Lite</a>
                    </li>
                </ul>
                <ul id="SubCatogary2">
                    <li>
                        <a href="#">Fast Food</a>
                    </li>
                    <li>
                        <a href="#">Desi</a>
                    </li>
                    <li>
                        <a href="#">Lite</a>
                    </li>
                </ul>
                <ul id="SubCatogary3">
                    <li>
                        <a href="#">Fast Food</a>
                    </li>
                    <li>
                        <a href="#">Desi</a>
                    </li>
                    <li>
                        <a href="#">Lite</a>
                    </li>
                </ul>
            </div>
            <div class="ClrStl"></div>
        </nav>
        <div class="WorkingArea"></div>
    </div>




<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/Index - Copy.js"></script>
</body>
</html>
