<div class="row" style="color: white; font-size: 12px; font-weight: bold;background-image:url(../../Content/Images/Extra/body-bg7.png)">
    <span class="col-lg-2 col-lg-offset-1"><a>Sender</a></span>
    <span class="col-lg-6"><a>Message</a></span>
    <span class="col-lg-3"><a>Received On</a></span>
</div>
<div class="row" >
    <iframe id="Myframe" src="@Url.Action("InboxData","Chat")" style="border:0px; width: 100%; height: 500px"></iframe>
</div>
`