
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />


@using KitchenCloud.Models.Chat;
@model List<MessagePreviewModal>

<style>
    ::-webkit-scrollbar {
        width: 1px;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }

    .InboxMsg {
        border: 1px solid lightgrey;
        padding: 15px 15px;
    }

        .InboxMsg:hover {
            border: 1px solid gray;
            background: gainsboro;
            cursor: pointer;
            font-weight: bold;
        }
</style>


@if (Model != null && Model.Count > 0)
{

    foreach (MessagePreviewModal msgPreview in Model)
    {
        <div class="container-fluid InboxMsg">
            <div class="col-sm-3">
                <img src="~/Content/Images/Users/Profile Img/person1.png" style="height: 25px; width: 25px;" />
                &nbsp;&nbsp;@msgPreview.Sender
            </div>
            <div class="col-sm-6">
                @msgPreview.Preview
            </div>
            <div class="col-sm-3">
                @msgPreview.RecievedOn
            </div>
        </div>

    }

}
else
{
    @*<span class="bg-danger">No Messages</span>*@

    for (int i = 0; i < 100; i++)
        {
            <div class="container-fluid InboxMsg" data-chatwithid="@i" data-href="/Chat/ChatWithData/@i">
                <div class="col-sm-3">
                    <img src="~/Content/Images/Users/Profile Img/person1.png" style="height: 25px; width: 25px;" />
                    &nbsp;&nbsp; Irshad Ahmed
                </div>
                <div class="col-sm-6">
                    Hello How are you ?...
                </div>
                <div class="col-sm-3">
                    @DateTime.Now.ToString()
                </div>
            </div>


        }

}
