
@{
    ViewBag.Title = "Index";
    Layout = "_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-2">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="#" class="AdmFunc" data-value="Index"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a>
            </li>
            <li class="list-group-item ">
                <a href="#" class="AdmFunc" data-value="AllSellers"><span class="glyphicon glyphicon-scissors"></span> Sellers</a>
            </li>
            <li class="list-group-item">
                <a href="#" class="AdmFunc" data-value="AllBuyers"><span class="glyphicon glyphicon-tower"></span> Buyers</a>
            </li>
            <li class="list-group-item">
                <a href="#" class="AdmFunc" data-value="AllRecipes"><span class="glyphicon glyphicon-apple"></span> Recipes</a>
            </li>
            <li class="list-group-item">
                <a href="#" class="AdmFunc" data-value="AllOrders"><span class="glyphicon glyphicon-paperclip"></span> Orders</a>
            </li>
        </ul>
    </div>
    <div class="col-lg-10">
        <div id="AdminMainPanel">

        </div>
    </div>
</div>




