<div class="Parent">
    <div class="FormsRcr">
        <div class="FormTtl">
            <span style="margin-left: -65px;">Password Recovery</span>
        </div>
        <div class="ClsBtns">
            <input class="ClsBtn" value="X" type="button" />
        </div>
        @*<form action="#">*@
        @using (Html.BeginForm("Index", "Dashboard", FormMethod.Post))
        {
            <div class="FormRcrTxtBx">
                @*<input class="TxtBx" id="FormRcrEml" type="text" placeholder=" Email Address " />*@
                @Html.TextBox("FormRcrEml", null, new { @class = "TxtBx", id = "FormRcrEml", placeholder = " Email Address " })
            </div>
                    <fieldset class="FormsRcrGrpBx">
                        <legend>Security Questions</legend>
                        <div class="FormRcrSQslct">
                            <select id="FormRcrSQ1">
                                <option value="1">What is your nick Name ?</option>
                                <option value="1">What is your birth place ? </option>
                                <option value="1">What is your best friend name ? </option>
                            </select>
                        </div>
                        <div class="FormRcrTxtBx">
                            @*<input type="text" id="FormRcrSQ1Ans" placeholder=" You Answer Here" class="SQTxtBx" />*@
                            @Html.TextBox("FormRcrSQ1Ans", null, new { id = "FormRcrSQ1Ans", placeholder = " You Answer Here", @class = "SQTxtBx" })


                        </div>
                        <div class="FormRcrSQslct">
                            <select id="FormRcrSQ2">
                                <option value="1">What is your best friend name ? </option>
                                <option value="1">What is your nick Name ?</option>
                                <option value="1">What is your birth place ? </option>
                            </select>
                        </div>
                        <div class="FormRcrTxtBx">
                            @*<input type="text" id="FormRcrSQ2Ans" placeholder=" You Answer Here" class="SQTxtBx"/>*@
                            @Html.TextBox("FormRcrSQ2Ans", null, new { id = "FormRcrSQ2Ans", placeholder = " You Answer Here", @class = "SQTxtBx" })

                        </div>
                    </fieldset>
                    <div class="FormsRcrBtn">
                        <input class="Btn" type="button" id="RcrBtn" value="Submit" />
                    </div>
        }
        @*</form>*@
    </div>
</div>

