@using KitchenCloudEntitiesHandler.Recipes

@{
    Layout = "_DashboardLayout.cshtml";
    ViewBag.Title = "Kitchen Cloud";

}



<div class="MainAreaRecipes">

    @RenderPage("../Shared/_GlobalRecipeTemplate.cshtml")


</div>
