

@{
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <title>Kitchen Cloud</title>
    <meta charset="utf-8" />
    <link href="~/Content/Styles/Index.css" rel="stylesheet" />
    <link href="~/Content/Styles/Profile.css" rel="stylesheet" />
    <link href="~/Content/Styles/jquery-ui.css" rel="stylesheet" />
</head>
<body>

    <header>
        <div class="HeaderWrapper">
            <img src="~/Content/Images/Profile Banners/Banner (1).jpg" />
            <div class="HeaderProfileImg">
                <img class="ProfileImg" src="~/Content/Images/Profiles Img/cb.jpg" />
            </div>
            <div class="UserName">
                <span class="Ttl">Code_Bakers</span>
            </div>
            <div class="ProfileSlogan">
                <span class="Ttl">We Bake Solutions !!!</span>
            </div>
        </div>
    </header>
    <nav>
        <div class="Logo">
            <img src="~/Content/Images/Logo.png" height="90" width="140" />
        </div>
        <div class="ProfileStats">
            <ul class="ProfileStatsMenu">
                <li><a href="#">Reviews</a></li>
                <li><a href="#">Visitors</a></li>
                <li><a href="#">Ratings</a></li>
            </ul>
            <div class="ClrStl"></div>
            <ul>
                <li class="ProfileStatsSettings">
                    <div class="ProfileSettingsBtn">
                        <input id="SettingsUpDownBtn" class="Btn" type="button" />
                    </div>
                    <ul class="ProfileStatsSubMenu">
                        <li>
                            <a href="#" id="NewMenu">New Menu</a>
                        </li>
                        <li>
                            <a href="#">Customer Orders</a>
                        </li>
                        <li>
                            <a id="ShowStat" href="#">Statistics</a>
                        </li>
                        <li>
                            <a href="#">Account Settings</a>
                        </li>
                        <li>
                            <a href="#">Sign Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>


    </nav>
<section class="ProfileMainSec">
    <div class="ProfileDetails">
        <div class="ProfileDscrptn">
            <div class="DscrptnTitle">
                <span class="Ttl">Description</span>
            </div>
            <div class="DscrptnBody">
                <p class="Prgrph">
                    Network of IT solutions since 11 august 2015
                    Code Bakers is not only a platform for IT solutions but also for the training Institute of the interested upcoming generation to compete the upcoming challenges.
                    Join hands to find solutions of new IT Domains We Lead InSoftware Development Design
                    Web Development and Design
                    Graphics Design
                    Computer Programming (C,C++,C#,Java)
                    Web based and Desktop Applications
                    Auto-CAD
                    Multimedia
                    Computer Basics
                    Career Guidance
                </p>
            </div>
        </div>
        <div class="ProfileServices">
            <div class="ServicesTitle">
                <span class="Ttl">Services</span>
            </div>
            <div class="ServicesBody">
                <p class="Prgrph">
                    Requirements<br/>
                    Basic Concepts about related topics<br/>
                    Basic Computer<br/>
                    Web Browsing<br/>
                    Email Address<br/>
                    Interest<br/>
                    Contact us<br/>
                    www.facebook.com/CodeBakers<br/>
                </p>
            </div>
        </div>
        <div class="ClrStl"></div>
    </div>
    <div class="UserMenus">
        <div class="UserMenusTitle">
            <span class="Ttl">My Menus</span>
        </div>
        <div class="ProfileMenus">
            <div class="Menu">
                <div class="MenuTitle">
                    <span class="Ttl">Pakistani</span>
                    <span class="MenuTtlOrders">150</span>
                </div>
                <div class="MenuImg">
                    <img src="~/Content/Images/Profiles Img/Menu Images/MenuImg (1).jpg"/>
                </div>
                <div class="MenuDetail">
                    <ul>
                        <li>Fast Food</li>
                        <li>Desi</li>
                        <li>Lite</li>
                        <li>Salads</li>
                    </ul>
                </div>
                <div class="MenuRatings">

                </div>

            </div>
            <div class="Menu">
                <div class="MenuTitle">
                    <span class="Ttl">Pakistani</span>
                    <span class="MenuTtlOrders">150</span>
                </div>
                <div class="MenuImg">
                    <img src="~/Content/Images/Profiles Img/Menu Images/MenuImg (1).jpg"/>
                </div>
                <div class="MenuDetail">
                    <ul>
                        <li>Fast Food</li>
                        <li>Desi</li>
                        <li>Lite</li>
                        <li>Salads</li>
                    </ul>
                </div>
                <div class="MenuRatings">

                </div>

            </div>
            <div class="Menu">
                <div class="MenuTitle">
                    <span class="Ttl">Pakistani</span>
                    <span class="MenuTtlOrders">150</span>
                </div>
                <div class="MenuImg">
                    <img src="~/Content/Images/Profiles Img/Menu Images/MenuImg (1).jpg"/>
                </div>
                <div class="MenuDetail">
                    <ul>
                        <li>Fast Food</li>
                        <li>Desi</li>
                        <li>Lite</li>
                        <li>Salads</li>
                    </ul>
                </div>
                <div class="MenuRatings">

                </div>

            </div>
            <div class="Menu">
                <div class="MenuTitle">
                    <span class="Ttl">Pakistani</span>
                    <span class="MenuTtlOrders">150</span>
                </div>
                <div class="MenuImg">
                    <img src="~/Content/Images/Profiles Img/Menu Images/MenuImg (1).jpg"/>
                </div>
                <div class="MenuDetail">
                    <ul>
                        <li>Fast Food</li>
                        <li>Desi</li>
                        <li>Lite</li>
                        <li>Salads</li>
                    </ul>
                </div>
                <div class="MenuRatings">

                </div>

            </div>
            <div class="Menu">
                <div class="MenuTitle">
                    <span class="Ttl">Pakistani</span>
                    <span class="MenuTtlOrders">150</span>
                </div>
                <div class="MenuImg">
                    <img src="~/Content/Images/Profiles Img/Menu Images/MenuImg (1).jpg"/>
                </div>
                <div class="MenuDetail">
                    <ul>
                        <li>Fast Food</li>
                        <li>Desi</li>
                        <li>Lite</li>
                        <li>Salads</li>
                    </ul>
                </div>
                <div class="MenuRatings">

                </div>

            </div>
        </div>
    </div>
</section>
<section class="AccountSettingsAndStat">
    <div class="NewMenu">
        <div class="ClsBtns">
            <input class="ClsBtn" value="X" type="button" />
        </div>
        <div class="CreateNewMenuTitle">
            <span class="Ttl">Creating New Menu</span>
        </div>
        <div class="NewMenuBody">

            <div class="NewMenuTabs">
                <section id="NewMenuTabs" class="Tabs">
                    <ul>
                        <li>
                            <a href="#Title">Title and Tags</a>
                        </li>
                        <li>
                            <a href="#Description">Description</a>
                        </li>
                        <li>
                            <a href="#Location">Location</a>
                        </li>
                        <li>
                            <a href="#Graphics">Graphics</a>
                        </li>
                         <li>
                            <a href="#Done">Done</a>
                        </li>
                    </ul>
                    <div id="Title" class="NewMenuTab">
                        <h3>Title</h3>

                        <div class="NewMenuTitle">
                            <input type="text" placeholder="Menu Title" class="TxtBx"/><br/><br />
                            <select id="NewMenuCatogory">
                                <option value="1">Pakistani</option>
                                <option value="2">Continental</option>
                                <option value="3">Chinese</option>
                            </select><br /><br />
                            <select id="NewMenuCatogoryType">
                                <option value="1">Fast Food</option>
                                <option value="2">Soup</option>
                                <option value="3">Lite</option>
                                <option value="3">Desi</option>
                            </select><br/><br/>
                            <input type="text" placeholder="Menu Tags -Seperated with comma(,)" class="TxtBx" /><br /><br />

                        </div>









                    </div>
                    <div id="Description" class="NewMenuTab">
                        <h3>Description</h3>
                    </div>
                    <div id="Location" class="NewMenuTab">
                        <h3>Location</h3>
                    </div>
                    <div id="Graphics" class="NewMenuTab">
                        <h3>Graphics</h3>
                    </div>
                    <div id="Done" class="NewMenuTab">
                        <h3>All Completed Orders HereAll All Completed Orders HereAll All Completed Orders HereAll All Completed Orders HereAll All Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders Here</h3>
                        </div>
                </section>
            </div>

        </div>
    </div>
    <div class="AccountStats">
        <div class="ClsBtns">
            <input class="ClsBtn" value="X" type="button"/>
        </div>
        <div class="AccountStatsTitle">
            <span class="Ttl">Account Statistics</span>
        </div>
        <div class="AccountStatsBody">

            <div class="AccountStatsTabs">
                <section id="StatTabs" class="Tabs">
                    <ul>
                        <li>
                            <a href="#Order">Orders</a>
                        </li>
                        <li>
                            <a href="#Pending">Pending</a>
                        </li>
                        <li>
                            <a href="#Complete">Complete</a>
                        </li>
                    </ul>
                    <div id="Order" class="AccountStatsTab">
                        <h3>All New Orders Here</h3>
                    </div>
                    <div id="Pending" class="AccountStatsTab">
                        <h3>All Pending Order Here</h3>
                    </div>
                    <div id="Complete" class="AccountStatsTab">
                        <h3>All Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders Here</h3>
                    </div>
                </section>
            </div>

        </div>
    </div>
</section>

<footer>
    
</footer>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/Profile.js"></script>
</body>
</html>

