

@{
    Layout = "_AccountLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <section class="container-fluid">
        <div class="container">
            <div class="row col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading" style="height: 20px; padding: 0px 15px;">
                        <span class="text-primary">Description</span>
                    </div>
                    <div class="panel-body">
                        <p class="text-muted">
                            @ViewBag.BuyerIntro
                        </p>
                    </div>
                </div>
            </div>
  
        </div>
            </section>

</body>
</html>
