<div class="AccountStats">
    <div class="ClsBtns">
        <input class="ClsBtn" value="X" type="button" />
    </div>
    <div class="AccountStatsTitle">
        <span class="Ttl">Account Statistics</span>
    </div>
    <div class="AccountStatsBody">

        <div class="AccountStatsTabs">
            <section id="StatTabs" class="Tabs">
                <ul>
                    <li>
                        <a href="#Order">Orders</a>
                    </li>
                    <li>
                        <a href="#Pending">Pending</a>
                    </li>
                    <li>
                        <a href="#Complete">Complete</a>
                    </li>
                </ul>
                <div id="Order" class="AccountStatsTab">
                    <h3>All New Orders Here</h3>
                </div>
                <div id="Pending" class="AccountStatsTab">
                    <h3>All Pending Order Here</h3>
                </div>
                <div id="Complete" class="AccountStatsTab">
                    <h3>All Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders HereAll Completed Orders Here</h3>
                </div>
            </section>
        </div>

    </div>
</div>
