
@*<div class="row" style="position: absolute;position: fixed;height: 200px; margin-top: -1005px; width: 150px; z-index: 5; margin-left: 1000px;" id="feedbackmodal">


        <div class="feedbackmodal-content">
            <div class="feedbackmodal-header">
                <div class="feedbackmodal-title">
                    Let us Know
                </div>
            </div>
            <div class="feedbackmodal-body">
                
                
                

            </div>

            <div class="feedbackmodal-footer">
                
            </div>
        </div>

</div>*@




@*//<div class="ExpColBtn">
        <input class="Btn" id="ExpColBtn" value="<<" type="button" />
    </div>
    <div class="LiveChatWrapper">
        <div class="LiveChatTitle">
            <div class="SubTtl">Feed Back</div>
        </div>
        @*<form action="#" class="Form">
        @using (Html.BeginForm("Index", "Dashboard", FormMethod.Post, new { @class = "Form" }))
        {
            <div class="LiveChatBody">
                <div class="LiveChatBodySub">
                    @*<input class="TxtBx" type="text" placeholder="Subject" />
                    @Html.TextBox("LiveChatSubject", null, new { @class = "form-control", placeholder = " Subject" })
                </div>
                <div class="container">
                    <span class="SubTtl">Description</span><br />
                    @*<textarea cols="21" rows="5"></textarea>
                    @Html.TextArea("LiveChatDescription", new { cols = "21", rows = "5" })
                </div>
                <div class="LiveChatSendBtn">
                    <input class="Btn" value="Send" type="submit" />
                </div>
            </div>
        }
        @*</form>
    </div>*@