@using KitchenCloud.Models.Shared
@{

    NotificationModel Notification = ViewBag.Notification;
}



<div id="notify"  class="well well-sm notify" style="background-color: @(Notification.BackgroundColor)">
    <span class="close notifycls" style="color: white;" >&times;</span>
    <span id="NotifyText" style="color: white; font-size: 12px;font-weight: bold">@Notification.Text</span>
</div>